@import '/static/content/css/item.css';

.filter-options {
    width: 150%;
    left: 0;
    background-color: var(--bs-gray-200);
    top: 20px;
    opacity: 0;
    visibility: hidden;
    transition: .2s;
    z-index: 10;
}

.filter-options a {
    color: var(--bs-dark);
    text-decoration: none;
    padding: 10px 5px;
    display: block;
    font-size: .9em;
    border-radius: var(--bs-border-radius-sm);
    transition: background-color .2s;
}

.filter-options a:hover {
    background-color: var(--bs-gray-400);
}

.filter:hover .filter-options {
    opacity: 1;
    top: 43px;
    visibility: visible;
}

.filter i {
    transition: transform .2s;
}

.filter:hover i {
    transform: rotate(180deg);
}


@media only screen and (min-width: 1200px) {
    .row-item {
        width: 12.5%;
    }
}
