{% extends 'registration/_base.html' %}
{% load static widget_tweaks %}

{% block meta_title %}بازنشانی گذرواژه{% endblock %}

{% block form %}
  <form method="post" id="password-reset-form">
    {% csrf_token %}
    <div class="input-group d-flex flex-column mb-3">
      <label for="id_phone_number" class="form-label">{{ form.phone_number.label }}</label>
      {% render_field form.phone_number placeholder=form.phone_number.label class='n-input' %}
      {{ form.phone_number.errors }}
    </div>
    <div class="row">
      <div class="col">
        <a href="{% url 'users:login' %}" class="btn btn-primary">بازگشت</a>
      </div>
      <div class="col-4 offset-4 d-grid gap-1">
        <button type="submit" class="btn btn-primary">ارسال کد</button>
      </div>
    </div>
  </form>
{% endblock %}