{% extends 'dashboard/_base.html' %}
{% load widget_tweaks %}

{% block css %}
  {{ block.super }}
  <style>
      .input-group ul {
          list-style: none;
          padding-right: .5rem;
          padding-top: .5rem;
          color: var(--bs-gray);
          font-size: .9rem;
      }

      ul.errorlist {
          color: var(--bs-danger);
          font-size: .9rem;
          list-style: none;
          padding: .2rem;
      }

      ul.errorlist.nonfield {
          padding: 0;
      }
  </style>
{% endblock %}

{% block dashboard_content %}
  <div class="content-box p-2 p-md-3 rounded profile-form">
    {% include 'includes/messages.html' with classes='text-center' %}
    <form method="post">
      {% csrf_token %}
      <div class="input-group d-flex flex-column mb-3">
        <label for="id_first_name" class="form-label">{{ form.old_password.label }}</label>
        {{ form.old_password|add_class:'n-input' }}
        {{ form.old_password.errors }}
      </div>
      <div class="input-group d-flex flex-column mb-3">
        <label for="id_last_name" class="form-label">{{ form.new_password1.label }}</label>
        {{ form.new_password1|add_class:'n-input' }}
        {{ form.new_password1.help_text }}
      </div>
      <div class="input-group d-flex flex-column mb-3">
        <label for="id_last_name" class="form-label">{{ form.new_password2.label }}</label>
        {{ form.new_password2|add_class:'n-input' }}
        {{ form.new_password2.errors }}
      </div>
      <button class="btn btn-primary w-100" type="submit">ذخیره</button>
    </form>
  </div>
{% endblock %}